<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <script>
      alert("error");
      window.location = "http://google.com";
    </script>
  </head>
</html>
