<!DOCTYPE html>
<html>
  <head>
    <title>redirect</title>
    <meta charset="UTF-8">
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function() {
        var error = document.getElementById("error").innerHTML;
        window.location = "./?err=" + error;
      }, false);
    </script>
  </head>
  <body>
    <p id="error">