<!DOCTYPE html>
<html>
    <head>
        <title>Form Submitted</title>
        <meta charset="UTF-8">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <script type="text/javascript">
            if (formRedirect) {
                document.getElementById("redirectLink").href = "/response";
            }
        </script>
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>Form Submitted <small>Thank you for your feedback!</small></h1>
            </div>

            <p class="lead">We will reply to you shortly!</p>
            <div class="panel panel-default">
                <div class="panel-body">
                    <p><strong>Title: </strong><%= title %></p>
                    <p><strong>Description: </strong><%= ticketDesc %></p>
                    <p><strong>Ticket ID: </strong><%= ticketId %></p>
                </div>
            </div>

            <a id="redirectLink" class="btn btn-default" href="/" role="button">Submit another ticket</a>
        </div>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </body>
</html>
